body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #ffffff;
    color: #3d3636;
}

#cms {
    margin-left: 3%;
    vertical-align: middle;
    text-decoration: none;
    color:aliceblue;
    margin-right: 60%;
    font-size: 18px;
  }
  
  #username {
    margin-right: 5%;
    margin-left: 15%;
    color: aliceblue;
    font-size: 18px;
  }

.navbar {
    background-color: gray;
    overflow: hidden;
}

.body-div {
    display: flex;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
    margin-top: 0;
    position: relative;
}

.navbar .onRight {
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 50px;
    right: 30px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-height: 20px;
    max-width: 450px;
}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.notificationUser {
    padding: 5px 5px 5px;
}

.notificationMessage {
    margin-top: 5px;
}

.navMenu {
    display: flex;
    flex-direction: column;
    width: 10%;
    font-size: 20px;
    text-align: left;
    padding: 50px;
    padding-left: 3%;
}

.navMenu div{
    position: relative;
    font-size: 20px;
    text-align: left;
    padding: 5px 5px 5px 10px;
    min-height: 20px;
    width: 100%;
    text-decoration: none;
}

.navMenu div:hover {background-color: #ddd;}



@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 50%; opacity: 1}
}

.footer{
    position: fixed;
    bottom: 5%;
    height: 20%;
    width: 77%;
    left: 12%;
}

.footer div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}




table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: gray;
}

table {
    width: 70%;
}

th, td {
    text-align: center;
    padding: 8px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    text-align: left;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}

.btn {
    border-radius: 0;
    border-color: gray;
    border-width: 1px;
    background-color: white;
    padding: 8px;
}

.btn:hover {
    background-color: lightgray;
    transition: 1s;
}

.add-row {
    margin-left: 67%;
}

.container {
    display: flex;
}

.menu {
    list-style: none;
    margin: 1%;
    padding: 1%;
    width: 200px;
}

.menu li {
    display: block;
    text-align: left;
    padding: 10px 0;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.status-active, .status-inactive {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.status-active {
    background-color: rgb(11, 106, 34);
}

.status-inactive {
    background-color: lightgray;
}

.profile-header {
    display: none;
    background-color: #333;
    position: absolute;
    transform: translate(0%, 50px);
    padding: 8px 16px;
    border: 1px solid #ccc;
}

.notification-header {
    display: none;
    background-color: #333;
    position: absolute;
    width: 300px;
    height: 140px;
    transform: translate(0%, 100px);
    padding: 8px 16px;
    border: 1px solid #ccc;
}

.profile-header.active, .notification-header.active {
    display: block;
}

.user-notification:hover~.notification-header {
    display: block;
}

.notification-msg {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    float: right;
    margin: 10px;
}

.add-modal-wrapper, .warning-modal-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-modal, .warning-modal {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    width: 40%;
    padding: 10px;
    position: relative;
    top: 20%;
}

.add-modal-close, .add-modal-create, .warning-modal-close {
    margin-left: 90%;
}

.add-modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#add-form-field-group,  #add-form-field-gender {
    width: 41.5%;
    margin: 0 10% 0 0;
    font-size: 14px;
}

#add-form-field-firstName, #add-form-field-lastName, #add-form-field-birthday {
    width: 40%;
    margin: 0 10% 0 0;
    font-size: 14px;
}

label {
    margin-left: 10%;
}

.invalid {
  border: 2px solid red;
}